


#choice{
    margin-bottom: 5%;
}

table{

    width: 100%;
}

th.table_head{
    width: 50%;


}

.level_select{
    background-color: #bdbd8f;
    width: 80%;
    padding: 1%;
    margin : 1% 10% 1%;
    border-radius: 4px;
}

.before_after{
    background-color: #0094ff;
    width: 80%;
    padding: 1%;
    margin : 1% 10% 1%;
    border-radius: 1px;
}