

.Registeration{
    margin-left: auto;
    margin-right:auto;
    margin-top:5%;
}

.LogIn{
    margin-left: auto;
    margin-right:auto;
    margin-top:5%;
}

#LoginSubmit{
    margin-left:auto;
    margin-right: auto;
    margin-top:5%;
}

#LoginSubmit{
    margin-left:auto;
    margin-right: auto;
    margin-top:5%;
}

#RegistrationSubmit{
    margin-left:auto;
    margin-right: auto;
    margin-top:5%;
}
    
