
<!DOCTYPE html>
<html  lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="refresh" content="3; URL=https://www.backtech.tokyo">
		<title>BACKTECH - 脱・腰痛を目指して</title>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
   		<link rel="stylesheet" href="stylesheets/CommonStyle.css">
		<link rel="stylesheet" href="stylesheets/EntryPoint.css">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1>BACKTECH 脱・腰痛を目指して</h1>
			</div><!-- /header -->

			<div id="main">
			<div><center>準備中</center></div>
			<p>
			<div><center>約3秒後に腰痛アプリ に移動します。<br>移動しない場合には<A href="https://www.backtech.tokyo">ここ</A>を押して移動してください。</center></div>
                <div id="LogInContainer">
                </div><!-- LogInContainer -->

                <div id ="RegistrationContainer">
                </div><!-- RegistrationContainer --> 


			</div><!-- /main -->

		    <div id="footer">
				<a>Copyright 2015, BackTech</a>
			</div><!-- /footer -->
		</div><!-- /container -->
	</body>
</html>
